#task-container{
    border: 2px solid black;
    height: 250px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px;
    background-color: rgb(189, 245, 245);
    margin-bottom: 15px;
}
.fa-pen-to-square{
   font-size: xx-large;
    margin-right: 140px;
    /* margin-top: 50px; */

}
.fa-regular{
    font-size: x
    -large;
    /* margin-right: 130px; */
}
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fa-solid{
    font-size: xx-large;
}
.icons{
    display: flex;
    justify-content: flex-end;

}